<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../css/intro.css">
    </head>
    <body>
    	<!-- 导航栏 -->
	    <div class="nav">
	    	<div class="mid">
	    		<div class="current banxin">
			    	<div class="weather">
			    		<span>重庆</span>[<span>切换城市</span>]
			    	</div>
			    	<div class="dl">
			    		<div class="denglu"><a href="register.html">登录</a>|</div>
						<div class="zhuce"><a href="login.html">注册</a></div>
						<div class="shop"><a href="">购物车</a></div>
			    	</div>
	    		</div>
	    	</div>
	    </div>
    	<div class="business">
    		<!-- 左边图片部分 -->
	    	<div class="all" id='all'>
				<div class="screen" id="screen">
			        <ul id="ul">
			            <li><img src="images/充电宝.jpg"/></li>
			            <li><img src="images/小米充电宝2.jpg"/></li>
			            <li><img src="images/小米充电宝3.jpg"/></li>
			            <li><img src="images/小米充电宝4.jpg"/></li>
			            <li><img src="images/小米充电宝5.jpg"/></li>
			        </ul>
			        <ol></ol>
			        <div id="arr"><span id="left"><</span><span id="right">></span></div>
			    </div>
			</div>
			<!-- 右边详细信息部分 -->
			<div class="news">
				<p><span class="big">商品名称:</span><span class="mleft">小米充电宝</span></p>
				<p><span class="big">现价:</span><span class="mleft"><span class="dollar">30</span>元</span></p>
				<p><span class="big">原价:</span><span class="mleft" class="1"><del>60</del>元</span></p>
				<p><span class="big">详细信息:</span><span class="mleft">八成新,10000毫安,小米原装,能充3~4次，低价出售。</span></p>
				<p><span class="big">电话:</span><span class="mleft">12****890</span></p>
				<p><span class="big">QQ:</span><span class="mleft">987****321</span></p>
				<div class="call">联系卖家</div>
			</div>
    	</div>
    	
    </body>
</html>
<script>
    //1.获取相关元素。
    var box = document.getElementById("all");
    var ul = box.children[0].children[0];
    var ol = box.children[0].children[1];
    var ulLiArr = ul.children;
    //2.补齐相互盒子
        //1.复制第一张图片所在的li，填入所在的ul中。
    var newLi = ulLiArr[0].cloneNode(true);
    ul.appendChild(newLi);
        //2.生成相关的ol中的li。
    for(var i=0;i<ulLiArr.length-1;i++){
        var newOlLi = document.createElement("li");
        newOlLi.innerHTML = i+1;
        ol.appendChild(newOlLi);
    }
        //3.点亮第一个ol中的li。
    var olLiArr = ol.children;
    ol.children[0].className = "current";
    //3.鼠标放到小方块儿上，轮播图片。
    for(var i=0;i<olLiArr.length;i++){
        olLiArr[i].index = i;
        olLiArr[i].onmouseover = function () {
            for(var j=0;j<olLiArr.length;j++){
                olLiArr[j].className = "";
            }
            olLiArr[this.index].className = "current";
            animate(ul,-this.index*ul.children[0].offsetWidth);
            key = square = this.index;
        }
    }
    //4.添加定时器。
    var timer = null;
    var key = 0;
    var square = 0;
    timer = setInterval(autoPlay,1000);

    function autoPlay(){
        key++;
        square++;
        if(key>olLiArr.length){
            key=1;
            ul.style.left = 0;
        }
        animate(ul,-key*ul.children[0].offsetWidth);

        square = square>olLiArr.length-1?0:square;
        for(var j=0;j<olLiArr.length;j++){
            olLiArr[j].className = "";
        }
        olLiArr[square].className = "current";
    }
    //5.鼠标移开开启定时器，鼠标放上去开启定时器。
    box.onmouseover = function () {
        clearInterval(timer);
    }
    box.onmouseout = function () {
        timer = setInterval(autoPlay,1000);
    }
    //6.左右切换的按钮。
    var btnArr = box.children[0].children[2].children;
    btnArr[0].onclick = function () {
        key--;
        square--;
        if(key<0){
            key=4;
            ul.style.left = -5*ul.children[0].offsetWidth + "px";
        }
        animate(ul,-key*ul.children[0].offsetWidth);

        square = square<0?olLiArr.length-1:square;
        for(var j=0;j<olLiArr.length;j++){
            olLiArr[j].className = "";
        }
        olLiArr[square].className = "current";
    }
   		btnArr[1].onclick = function () {
        autoPlay();
    }
    function animate(obj,target) {
        clearInterval(obj.timer);
        var speed = obj.offsetLeft < target ? 15 : -15;
        obj.timer = setInterval(function() {
            var result = target - obj.offsetLeft;
            obj.style.left = obj.offsetLeft + speed  + "px";
            if(Math.abs(result) <= 15) {
                obj.style.left = target + "px";
                clearInterval(obj.timer);
            }
        },10);
    }
</script>