<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../css/issue.css">
    </head>
    <body>
    	<!-- 导航栏 -->
	    <div class="nav">
	    	<div class="mid">
	    		<div class="current banxin">
			    	<div class="weather">
			    		<span>重庆</span>[<span>切换城市</span>]
			    	</div>
			    	<div class="dl">
			    		<div class="denglu"><a href="register.html">登录</a>|</div>
						<div class="zhuce"><a href="login.html">注册</a></div>
						<div class="shop"><a href="">购物车</a></div>
			    	</div>
	    		</div>
	    	</div>	
	    </div>
	    <!-- 提交页面 -->
	    <form id="from_button" action="">
	    	<fieldset class="from">
	    		<legend class="title">商品信息</legend>
	    		<p class="mid-from">
	    			<label class="name" for="">商品名称:</label><input class="trade" type="text">
	    		</p>
	    		
				<p>
					<label for="">商品类别:</label>
		    		<input class="radio" type="radio">电子产品
		    		<input class="radio" type="radio">生活用品
		    		<input class="radio" type="radio">二手书籍
		    		<input class="radio" type="radio">闲置衣物
		    		<input class="radio" type="radio">体育器材
		    		<input class="radio" type="radio">寝室神器
		    		<input class="radio" type="radio">其他商品
				</p>
	    		<p>
		    		<label for="">瑕疵程度:
		    		</label><input class="radio" type="radio" checked="checked">全新
		    		<input class="radio" type="radio">九成新
		    		<input class="radio" type="radio">八成新
		    		<input class="radio" type="radio">七成新
		    		<input class="radio" type="radio">六成新
		    		<input class="radio" type="radio">五成新	
	    		</p>
	    		
				<p>
					<label class="intro" for="">详细信息说明:</label>
					<textarea name="" id="area" cols="30" rows="10"></textarea>
				</p>
	    		
	    		<div class="clear"></div>
				<p class="picture">
					<labe for="">上传照片:</label><input class="file" type="file">
				</p>
	    		<button class="submit">上传信息</button>
	    	</fieldset>
	    </form>
    </body>
</html>