<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
    </head>
    <body>
    </body><!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="../css/login.css">
</head>

<body>
	<!-- 导航栏 -->
    <div class="nav">
    	<div class="mid">
    		<div class="current banxin">
		    	<div class="weather">
		    		<span>重庆</span>[<span>切换城市</span>]
		    	</div>
		    	<div class="dl">
		    		<div class="denglu"><a href="register.html">登录</a>|</div>
					<div class="zhuce"><a href="login.html">注册</a></div>
					<div class="shop"><a href="">购物车</a></div>
		    	</div>
    		</div>
    	</div>
    	
    </div>
	<div class="container">
	    <label>账号</label><input type="text" id="inp5"><span>请输入您的账号</span><br>
	    <label>密码</label><input type="password" id="inp6"><span>请输入您的密码</span><br>
	    <label>确认密码</label><input type="password" id="inp6"><span>请输入您的密码</span><br>
	    <label>QQ</label><input type="text" id="inp1"><span>输入您的QQ号</span><br>
	    <label>手机</label><input type="text" id="inp2"><span>请输入手机号码</span><br>
	    <label>邮箱</label><input type="text" id="inp3"><span>请输入邮箱</span><br>
	    <label>座机</label><input type="text" id="inp4"><span>请输入座机号</span><br>
	    <!-- <div id="password" class="pwd"></div> -->
	</div>
	<button>提交</button>
</body>
</html>
<script>
    // 获取id 函数
    function $(id) {return document.getElementById(id);}
    //  change 函数   验证表单
    function change(id,fn) {
        $(id).onblur = fn;   //  fn  函数的意思
    }
    //  设置文字函数
    function setText(obj,txt) {
        obj.nextSibling.innerHTML = txt;
    }

    // 设置 类名函数
    function setClassName(obj,classname) {
        obj.nextSibling.className = classname;
    }

    // 验证 QQ号码
    // 我们的QQ号码  从1 开始的    10000
    console.log(/andy/.test("andyandy"));
    console.log(/^andy$/.test("andy"));
    change("inp1",function() {
        if(/^[1-9][0-9]{4,}$/.test(this.value)) {
            // alert(11)
            setText(this,"输入正确");
            setClassName(this,"right");
        }
        else {
           //  alert(22);
            setText(this,"输入有误");
            setClassName(this,"wrong");
        }
    })
      //    电话号码：  邮编   手机号码    文本型数字
    change("inp2",function() {
        if(/^((13[0-9])|(15[^4,\D])|(18[0-9]))\d{8}$/
                        .test(this.value)) {
            // alert(11)
            setText(this,"手机号码正确");
            setClassName(this,"right");
        }
        else {
           //  alert(22);
            setText(this,"对不起，是11位");
            setClassName(this,"wrong");
        }
    })

    change("inp3",function() {
        if(/^[\w\-\.]+\@[\w]+\.[\w]{2,4}$/
                        .test(this.value)) {
            // alert(11)
            setText(this,"邮箱输入正确");
            setClassName(this,"right");
        }
        else {
           //  alert(22);
            setText(this,"邮箱输入错误");
            setClassName(this,"wrong");
        }
    })

    change("inp4",function() {
        if(/^0\d{2}-\d{8}$|^0\d{3}-\d{7}$/
                        .test(this.value)) {
            // alert(11)
            setText(this,"座机号码正确");
            setClassName(this,"right");
        }
        else {
           //  alert(22);
            setText(this,"对不起，输入错误");
            setClassName(this,"wrong");
        }
    })
    change("inp5",function() {
        if(/^[a-zA-Z0-9_-]{3,16}$/
                        .test(this.value)) {
            // alert(11)
            setText(this,"用户名正确");
            setClassName(this,"right");
        }
        else {
           //  alert(22);
            setText(this,"对不起，输入错误");
            setClassName(this,"wrong");
        }
    })
    change("inp6",function() {
        if(/^[a-zA-Z0-9_-]{6,18}/.test(this.value)) {
            // alert(11)
            setText(this,"密码正确");
            setClassName(this,"right");
            $("password").className = "pwd str1";
            if(/^([a-z].*[A-Z])|([A-Z].*[a-z])$/.test(this.value)) {
                //  既有大写也有小写
                $("password").className = "pwd str2";
            }
            if(/^([a-z].*[0-9])|([A-Z].*[0-9])|[0-9].*[a-zA-Z]$/.test(this.value)) {
                //  既有大写也有小写  添加了数字效果
                $("password").className = "pwd str3";
            }
            if(/^[A-Za-z0-9]+[_][A-Za-z0-9]*$/ .test(this.value)) {
                //  既有大写也有小写  添加了数字  还有下滑线
                $("password").className = "pwd str4";
            }
        }
        else {
           //  alert(22);
            setText(this,"对不起，输入错误");
            setClassName(this,"wrong");
        }
    })


</script>
</html>