<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../css/register.css">
    </head>
    <body>
    	<div class="nav">
	    	<div class="mid">
	    		<div class="current banxin">
			    	<div class="weather">
			    		<span>重庆</span>[<span>切换城市</span>]
			    	</div>
			    	<div class="dl">
			    		<div class="denglu"><a href="register.html">登录</a>|</div>
						<div class="zhuce"><a href="login.html">注册</a></div>
						<div class="shop"><a href="">购物车</a></div>
			    	</div>
	    		</div>
	    	</div>	
    	</div>
    	<div class="all">
	    	<div class="sky">
	    		<div class="sun"></div>
	    	</div>
	    	<div class="sea">
	    		<div class="bg1"></div>
	    		<div class="bg2"></div>
	    	</div>
	    	<div class="register">
				<p><img src="images/登录.png" alt="">账号：<input type="text"></p>
	    		<p><img src="images/密码.png" alt="">密码：<input type="password"></p>
	    		<p><span>忘记密码？</span><a href="index.html">登录</a></p>
	    	</div>
			<div class="login"><a href="login.html">注册</a></div>
    	</div>
    	
    </body>
</html>