/*
* @Author: lyh
* @Date:   2019-03-18 16:54:39
* @Last Modified by:   lyh
* @Last Modified time: 2019-03-18 19:30:54
*/
.boy{
	margin:0 auto;
	margin-top:100px;
	width: 520px;
	height: 500px;
}
.boy .hair{
	width: 350px;
	height: 20px;
	color:orange;
	display: block;
	position:absolute;
	border-right:100px solid transparent;
	border-bottom:70px solid orange;
	border-left:100px solid transparent;
	transform: scale(0.4);
}
.boy .hair:before{
	content:'';
	height: 10px;
	width: 350px;
	border-left:30px solid transparent;
	border-right:30px solid transparent;
	border-bottom:50px solid orange;
	position: absolute;
	top:30px;
	left:-40px;
	transform: rotate(-35deg);
}
.boy .hair:after{
	content:'';
	height: 20px;
	width: 350px;
	border-left:30px solid transparent;
	border-right:30px solid transparent;
	border-bottom:50px solid orange;
	position: absolute;
	top:0;
	left:-40px;
	transform: rotate(30deg);
}
.boy .head{
	width: 256px;
	height: 256px;
	background-color: #ffedcb;
	border-radius: 50%;
	margin-top:36px;
	margin-left:145px;
	position: absolute;
	z-index:-1;
}
.boy .eyebrow{
	width: 30px;
	height: 3px;
	margin-top:85px;
	margin-left:65px;
	position:absolute;
	background-color: #000;
	transform: rotate(-25deg);
	animation: eyebrow_raise 8s infinite step-start 0s;
}
@keyframes eyebrow_raise{
	0%{
		margin-top:85px;
		margin-left:65px;
	}
	20%{
		margin-top:80px;
		margin-left:80px;
	}
	8%{
		margin-top:85px;
		margin-left:65px;
	}
}
.boy .eyebrow:after{
	content:'';
	width: 30px;
	height: 3px;
	margin-top:35px;
	margin-left:80px;
	position:absolute;
	background-color: #000;
	transform: rotate(50deg);
	animation: eyebrow_raise_after 8s infinite step-start 0s;
}
@keyframes eyebrow_raise_after{
	0%{
		margin-top:35px;
		margin-left:80px;
	}
	20%{
		margin-top:30px;
		margin-left:55px;
	}
	8%{
		margin-top:35px;
		margin-left:80px;
	}
}
.boy .eye{
	position: absolute;
	top:90px;
	left:60px;
	width: 60px;
	height: 80px;
	background-color: #fff;
	border-radius: 100%;
	transform: rotate(25deg);
}
.boy .eye:after{
	content:'';
	position:absolute;
	top:-32px;
	right:-72px;
	width: 60px;
	height: 80px;
	background-color: #fff;
	border-radius: 100%;
	transform: rotate(-50deg);
}
.boy .iris{
	position: absolute;
	margin-top:35px;
	right:10px;
	width: 7px;
	height: 7px;
	background-color: #000;
	border-radius: 50%;
	animation:iris_down 6s infinite step-start 0s;

}
@keyframes iris_down{
	30%{
		margin-top:5px;
	}
	30%{
		margin-top:40px;
	}
	30%{
		margin-top:40px;
	}
}
.boy .iris:after{
	content:'';
	position: absolute;
	margin-top:-19px;
	left:45px;
	width: 7px;
	height: 7px;
	background-color: #000;
	border-radius: 50%;
	z-index: 1;
}
.boy .closed_eye{
	position: absolute;
	top:90px;
	left:60px;
	width: 60px;
	height: 80px;
	background-color: #fff;
	border-radius: 100%;
	opacity: 0;
	transform: rotate(25deg);
	border:1px solid #eed6a8;
	z-index: 3;
	animation:close_eyes 3s infinite step-start 0s; 
} 
@keyframes close_eyes{
	0%{
		opacity: 0;
	}
	5%{
		opacity: 1;
	}
	8%{
		opacity: 0;
	}
}
.boy .closed_eye:after{
	content:'';
	position:absolute;
	top:-32px;
	right:-72px;
	width: 60px;
	height: 80px;
	background-color: #fff;
	border-radius: 100%;
	border:1px solid #eed6a8;
	transform: rotate(-50deg);
	animation: close_eyes 3s infinite step-start 0s;
}
.boy .mouth{
	margin-top:200px;
	position: relative;
	width: 30px;
	height: 25px;
	border-top: 1px solid #000;
	border-left:1px solid #000;
	margin-left:110px;
	border-top-left-radius: 100%;
	transform: rotate(40deg);
	animation: closes_mouth 8s infinite step-start 0s;
}
.boy .opened_mouth{
	position:relative;
    margin-left: 105px;
    margin-top: -20px;
    width:40px;
    height:10px;
    border-radius: 100%;
	background-color: #000;
	z-index: 4;
	opacity: 0 !important;
	transform:rotate(15deg);
	animation: open_mouth 8s infinite step-start 0s;
}
@keyframes open_mouth{
  	0%{ opacity: 0; }
  	20%{ opacity: 1; }
  	8%{ opacity: 0; }
  
  }
 @keyframes closes_mouth{
  	0%{ opacity: 1; }
  	20%{ opacity: 0; }
  	8%{ opacity: 1; }
  
 }
 .boy .body{
 	position:relative;
	top:210px;
	left:192px;
	width:160px;
	height:200px;
	background:#64d0b6;
	border:solid #64d0b6;
	border-width:0 3px 0 0;
	z-index:-2;
	border-top-right-radius:20px 120px;
	border-bottom-right-radius:20px 120px;
	transform:rotate(90deg);
 }
 .boy .armpits{
	position: absolute;
	width:70px; 
	height:190px;
	margin-top: 5px; 
  	background: #64d0b6;
	z-index: 1;
}
.boy .ziper{
	position:absolute;
	top:100px;
	left:79px;
	width:77px;
	height:2px;
	background:#000;
	z-index:10;
}
.boy .arm{
	position:relative;
	top:135px;
	left:40px;
	width:50px;
	height:150px;
	background: #64d0b6;
	border:solid #000;
	border-width:0 0 0 2px;
	border-top-right-radius:40px 120px;
	border-bottom-right-radius:40px 120px;				
	transform:rotate(110deg);			
}
.boy .arm:after{
	content: '';
	position:absolute;
	top:75px;
	right:200px;
	width:50px;
	height:150px;
	background: #64d0b6;
	border:solid #000;
	border-width:0 2px 0 0;
	border-top-left-radius:40px 120px;
	border-bottom-left-radius:40px 120px;				
	transform:rotate(-46deg);			
}

.boy .hand{
	position:absolute;
	top:-10px;
	left: -15px;
	width:55px;
	height:55px;
	background:#ffedcb;
	border-radius:100%;	
}


.boy .hand:after{
	content:"";
	position:absolute;
	top:80px;
	left:-220px;
	width:55px;
	height:55px;
	background: #ffedcb;
	z-index:1;	
	border-radius:100%;	
}

.boy .thumb{
	position:absolute;
	top:30px;
	left: 0px;
	width:20px;
	height:20px;
	background:#ffedcb;
	border: 1px solid #333;
	border-radius:100%;	
	z-index: 4;
}


.boy .thumb:after{
	content:"";
	position:absolute;
	top:70px;
	left:-180px;
	width:20px;
	height:20px;
	border: 1px solid #333;
	background: #ffedcb;
	z-index:4;	
	border-radius:100%;	
}
.boy .leg_left{
	position:relative;
	top:160px;
	left:166px;
	width:92px;
	height:50px;
	background:#195438;
	z-index:-3;
}
.boy .feet{
	position:absolute;
	top:50px;
	left:-3px;
	width:97px;
	height:10px;
	background:#000;
	border-radius:15px;
}
.boy .leg_right{
	position:relative;
	top:110px;
	left:286px;
	width:92px;
	height:50px;
	background:#195438;
	z-index:-3;
}